<div class="container-fluid text-center">
  <h1>All jobs</h1>
</div>
<div class="container-fluid">
  <ul>
    <% @jobs.each do |job| %>
    <li>
      <%= link_to job.title, company_job_path(job.company, job) %> (<%= job.level_of_interest %>)
    </li>
    <% end %>
  </ul>

</div>
