<ol class="breadcrumb">
  <li>
    <a href="/companies">Companies</a>
  </li>
  <li>
    <a href="/companies/<%= @company.id %>"><%= @company.name %></a>
  </li>
  <li class="active">New</li>
</ol>

<div class="container-fluid text-center">
  <h1>New Contact</h1>
</div>

<%= render partial: "form" %>
