<ol class="breadcrumb">
  <li>
    <a href="/categories">Categories</a>
  </li>
    <li class="active">New</li>
</ol>

<div class="container-fluid text-center">
  <h1>New Category</h1>
</div>

<%= render partial: "form" %>
